<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cours.cannabiss">
    <!-- Permissions pour écrire sur le stockage externe -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cannabiss"
        tools:targetApi="31">
        <activity
            android:name=".StatistiquesActivity"
            android:exported="false" />
        <!-- Activité pour l'exportation de la base de données -->
        <activity
            android:name=".ExportDatabaseActivity"
            android:exported="false"
            android:label="Export Database" /> <!-- Autres activités de votre application -->
        <activity
            android:name=".ConsulterPlanteActivity"
            android:exported="false"
            android:label="Consulter" />
        <activity
            android:name=".ArchiverPlanteActivity"
            android:exported="false"
            android:label="Archiver" />
        <activity
            android:name=".HistoriquePlanteActivity"
            android:exported="false"
            android:label="Historique" />
        <activity
            android:name=".ModifierPlanteActivity"
            android:exported="false"
            android:label="Modifier" />
        <activity
            android:name=".AjouterPlanteActivity"
            android:exported="false"
            android:label="Ajouter" />
        <activity
            android:name=".AccueilActivity"
            android:exported="false"
            android:label="@string/acceuil_activity_title" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>